/.vscode
/.idea
.DS_Store
/build
/cmake-build-default
/cmake-build-debug
/cmake-build-release
/cmake-build-minsizerel
/cmake-build-relwithdebinfo
/resources/union_result.txt
/resources/intersection_result.txt
/resources/union_with_position_result.txt
/resources/regex_result.txt